/* line 19, ../sass/sideMenu.scss */
#full-wrap::after {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  display: block;
  visibility: hidden;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}
/* line 33, ../sass/sideMenu.scss */
#full-wrap #content-wrap {
  height: 100%;
  position: relative;
}

/* line 43, ../sass/sideMenu.scss */
#full-wrap.side-menu #main-menu {
  visibility: visisble;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 48, ../sass/sideMenu.scss */
#full-wrap.side-menu #main-nav {
  left: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 53, ../sass/sideMenu.scss */
#full-wrap.side-menu #content-wrap {
  margin-left: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 62, ../sass/sideMenu.scss */
#full-wrap.side-menu.side-menu-open::after {
  visibility: visible;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
/* line 69, ../sass/sideMenu.scss */
#full-wrap.side-menu.side-menu-open #main-menu {
  left: 0;
  visibility: visible;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 75, ../sass/sideMenu.scss */
#full-wrap.side-menu.side-menu-open #main-nav {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 80, ../sass/sideMenu.scss */
#full-wrap.side-menu.side-menu-open #content-wrap {
  -webkit-transition: margin-left 0.2s ease-in;
  -moz-transition: margin-left 0.2s ease-in;
  -o-transition: margin-left 0.2s ease-in;
  transition: margin-left 0.2s ease-in;
}
