// This file must be imported before loading html5-boilerplate

// base
$line-height: 1.4 !default;
$font-color: #222 !default;

$link-color: #00e !default;
$link-hover-color: #06e !default;
$link-visited-color: #551a8b !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;

// This file must be imported before loading html5-boilerplate

// Links
$link-color: #00e;
$link-visited-color: #551a8b;
$link-hover-color: #06e;

// Lists
$list-left-margin: 40px;

//---- SUSY GRID SETTINGS ----//
$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
$container-style: magic;

//--- COLORS ----//
$red: #e74c3c;
$blue: #3498db;
$purple: #9b59b6;
$yellow: #f1c40f;

