// This file must be imported before loading html5-boilerplate

// base
$base-font-family: unquote("sans-serif");
$base-font-size: 16px;
$base-line-height: 1.231;
$font-color: #222;

// Links
$link-color: #00e;
$link-visited-color: #551a8b;
$link-hover-color: #06e;

// Lists
$list-left-margin: 40px;

//---- SUSY GRID SETTINGS ----//
$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
$container-style: magic;

//--- COLORS ----//
$red: #e74c3c;
$blue: #3498db;
$purple: #9b59b6;
$yellow: #f1c40f;

