// ==|== media queries ======================================================
// PLACEHOLDER Media Queries for Responsive Design.
// These override the primary ('mobile first') styles
// Modify as content requires.
// ========================================================================== */
// @import "susy";

// @media only screen and (min-width: 480px) {
//   /* Style adjustments for viewports 480px and over go here */

// }

// @media only screen and (min-width: 768px) {
//   /* Style adjustments for viewports 768px and over go here */

// }

@include at-breakpoint(6 40em){
	#main-header{height: 450px;}
	#main-header.header-small{height: 450px;}
	#main-header #SJK{font-size: 2em;}
	#page-title-container{
		#page-title{
			@include span-columns($total-columns);
			font-size: 3em;
		}
		#portfolio-views{
			@include span-columns($total-columns);
			margin: 0 0 2em 0;
		}
	}
	.portfolio-item{
		.pf-info{
			@include span-columns($total-columns);
		}
		.pf-images{
			@include span-columns($total-columns);
		}
		.img-half{
			@include span-columns($total-columns);
			@include remove-nth-omega(2n);
		}
	}

}

@include at-breakpoint(30em 12 50em){
	// #main-header{background:$purple;}
	.portfolio-item{
		height: none;
		.pf-info{
			@include span-columns($total-columns);
		}
		.pf-images{
			@include span-columns($total-columns);
		}
	}
	// #main-header{height: 450px;}
	// #main-header.header-small{height: 450px;}
	// #main-header #SJK{font-size: 2em;}
	// #page-title h1{font-size: 3em;}
	// .portfolio-item .img-half{
	// 	@include span-columns($total-columns);
	// 	@include remove-nth-omega(2n);
	// }

}


// ==|== print styles =======================================================
// Print styles.
// Inlined to avoid required HTTP connection: h5bp.com/r
// ========================================================================== */

@media print {
  @include h5bp-media-print;
  
  /* Style adjustments for print go here */
}