@import "compass/css3";

@import "susy";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

//---- COLOR CLASSESS ----//

	//Backgrounds
	.bg-blue{
		background: $blue;
	}
	.bg-red{
		background: $red;
	}
	.bg-yellow{
		background: $yellow;
	}
	.bg-eee{
		background: #e9e9e9;
	}
	.bg-333{
		background: #34495e;
	}

	//Font Colors
	.color-blue{
		color: $blue;
	}
	.color-red{
		color: $red;
	}
	.color-purple{
		color: $purple;
	}
	.color-yellow{
		color: $yellow;
	}
	.color-white{
		color: #fff;
	}
//---- END COLOR CLASSES ----//

//---- CONTAINER CLASSES ----//
	.inner-small{
		@include container;
		height: 100%;
	}
//---- END CONTAINER CLASSES ----//


//---------------------//
//---- MAIN STYLES ----//
//---------------------//
#main-nav{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 65px;
	z-index: 9999;
	background: rgba(#000, 0.4);

	a{
		text-decoration: none;
		color: #fff;
		font-size: 1.5em;
		cursor: pointer;
		@include border-radius(50%);
	}

	ul{
		margin: 0;
		padding: 0;
		float: left;
		height: 100%;
		line-height: 65px;

		li{
			color: #fff;
			font-size: 1.5em;
		}

	}
}

#main-menu{
	// padding-top: 65px;
	position: fixed;
	left: -300px;
	top: 0;
	height: 100%;
	width: 300px;
	background: lighten(#333, 5%);
	visibility: hidden;
	z-index: 10000;
	#main-menu-title{
		display: block;
		color: #999;
		padding: 0;
		text-align: center;
		font-size: 1.2em;
	}

	ul{
		margin: 0;
		padding: 0;

		li{
			width: 100%;
			text-indent: 2em;
			border-bottom: 1px dashed #555;
		}
		a{
			height: 100%;
			width: 100%;
			padding: 1em 0;
			font-size: 1.2em;
			display: block;
			color: #fff;
			text-decoration: none;

			&.active-red{background:$red;}
			&.active-blue{background:$blue;}
			&.active-yellow{background:$yellow;}

			&.hover-red{
				&:hover{background: $red; color: #fff;}
			}
			&.hover-blue{
				&:hover{background: $blue; color: #fff;}
			}
			&.hover-yellow{
				&:hover{background: $yellow; color: #fff;}
			}

		}
	}
}


#main-header{
	position: relative;
	height: 650px;
	width: 100%;

	&.header-small{
		height: 480px;
	}
}

#main-header #SJK{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1em;
	margin: 0 auto;

	color: #fff;
	font-size: 2.5em;
	font-family: 'Source Sans Pro', 'sans-serif';
	font-weight: 300;
	display: inline;
	text-align: center;	
}

footer {

}

#to-top{
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background:rgba(#000, 0.5);

	a{
		text-decoration: none;
		color: #fff;
	}
}
.main-section{
	padding: 40px 0px;

	p{
		font-size: 1.5em;
		color: #888;
		font-family: 'Source Sans Pro', 'sans-serif';
	}
}
#main-intro{
	p{text-align: center;}
}

#contact-form-container{

	.inner-small{
		$total-columns: 10;
		$container-style: magic;
		@include container;
	}

	input, textarea{
		width: 100%;
		margin-bottom: 1em;
		@include appearance(none);
		border: none;
		padding: 0.5em 0;
		text-indent: 1em;
		outline-color: $yellow;
		color: #999;
	}
	input[type="submit"]{
		width: 100%;
		background: $yellow;
		color: darken($yellow, 20%);
	}
	
}

#social-links{
	ul{
		margin: 0 auto;
		padding: 0;
		width: 80%;

		li{
			@include span-columns(3, 12);
			@include nth-omega(3n);
			text-align: center;
			height: 125px;
			line-height: 125px;
			font-size: 1.5em;
			background: #eee;
			margin-bottom: 2em;
		}
		li a{
			height: 100%;
			display: block;
			color: #888;
			text-decoration: none;

			&:hover{
				background: $yellow;
				color: #fff;
			}
		}
	}
}

// #page-outer{
// 	#toList, #toSlide{
// 		background:#eee;
// 	}
// 	&.slide-active{
// 		#toSlide{
// 			background: $red;
// 			color: #fff;
// 		}
// 	}
// 	&.list-active{
// 		#toList{
// 			background: $red;
// 			color: #fff;
// 		}
// 	}
// }

#page-title-container{
	
	#page-title{
		margin: 40px 0;
		@include span-columns($total-columns);

		font-size: 5em;
		font-family: 'Source Sans Pro', 'sans-serif';

	}
	// #portfolio-views{
	// 	@include span-columns(6 omega, 14);
	// 	margin: 55px 0 0;
	// 	// background:$purple;
		
	// 	ul{
	// 		margin: 0;
	// 		padding: 0;

	// 	}
	// 	ul li{
	// 		list-style-type: none;
	// 		text-align: center;
	// 		padding: 30px 0;
	// 		cursor: pointer;
	// 		@include span-columns(3, 6);
	// 		@include nth-omega(2n);

	// 		&:hover{
	// 			// background: darken(#eee, 5%);
	// 			// color: #000;
	// 		}
	// 	}
	// }
}

#portfolio-items-container{
	margin: 0;
	padding: 0;

	li{
		list-style-type: none;
	}
}

.portfolio-item{
	padding: 40px 0;
	font-family: 'Source Sans Pro', 'sans-serif';

	.pf-info{
		@include span-columns(14, 14);

	}
	.pf-images{
		padding: 1em 0;
		@include span-columns(14, 14);

		img{
			height: auto;
			max-width: 100%;
		}
	}

	h1{
		font-weight: 300;
	}

	p{font-size: 1.2em;}
	p a{
		text-decoration: none;
		color: $red;

		&:hover{text-decoration: underline;}
	}

	img{
		height: auto;
		max-width: 100%;
		margin: 2em 0;
	}
	.img-half{
		@include span-columns(7, 14);
		@include nth-omega(2n);
	}

}

.portfolio-item .resources{
		position: relative;
		padding: 2em 0;
		border-bottom: 1px solid rgba(#999, 0.5%);

		span.rsc{
			color: #fff;
			height: 40px;
			padding: 0 1em;
			cursor: default;
			font-weight: 600;
			line-height: 40px;
			position: relative;
			display: inline-block;
			margin: 0 1em 1em 1em;

			@include border-radius(0 5px 5px 0);

			&:hover{
				@include box-shadow(-0px -0px 10px rgba(#000, 0.2));
			}


			&::before{
			content: '';
			position: absolute;
			top: 0;
			right: 100%;
			width: 0;
			height: 0;
			border-right: 15px solid $red;
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent;
			}
			&::after{
				content: '';
				position: absolute;
				top: 50%;
				left: 0px;
				width: 5px;
				height: 5px;
				margin-top: -2.5px;
				background: #fff;
				@include border-radius(50%);
			}
		}

		&.red{
			span.rsc{
				background: $red;
			}
		}
}

//-------------------------//
//---- END MAIN STYLES ----//
//-------------------------//

